<%= form_for(@tokimon) do |f| %>
  <% if @tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% @tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :fly %><br>
    <%= f.number_field :fly %>
  </div>
  <div class="field">
    <%= f.label :fight %><br>
    <%= f.number_field :fight %>
  </div>
  <div class="field">
    <%= f.label :fire %><br>
    <%= f.number_field :fire %>
  </div>
  <div class="field">
    <%= f.label :water %><br>
    <%= f.number_field :water %>
  </div>
  <div class="field">
    <%= f.label :electric %><br>
    <%= f.number_field :electric %>
  </div>
  <div class="field">
    <%= f.label :ice %><br>
    <%= f.number_field :ice %>
  </div>
  <div class="field">
    <%= f.label :eating_habit %><br>
    <%= f.text_field :eating_habit %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br>
    <%= f.text_field :weapon %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.text_field :strength %>
  </div>
  <div class="field">
    <%= f.label :trainer_id %><br>
    <% trainers_array = Trainer.all.map { |trainer| [trainer.name, trainer.id]} %>
    <%= f.select :trainer_id, options_for_select(trainers_array) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
