<p id="notice"><%= notice %></p>

<h1 class = "toki-header">Tokimons Inventory</h1>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Ice</th>
      <th>Total</th>
      <th>Eating habit</th>
      <th>Weapon</th>
      <th>Strength</th>
      <th>Trainer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokimons.each do |tokimon| %>
      <tr>
        <td><%= tokimon.name %></td>
        <td><%= tokimon.height %></td>
        <td><%= tokimon.weight %></td>
        <td><%= tokimon.fly %></td>
        <td><%= tokimon.fight %></td>
        <td><%= tokimon.fire %></td>
        <td><%= tokimon.water %></td>
        <td><%= tokimon.electric %></td>
        <td><%= tokimon.ice %></td>
        <td><%= tokimon.total %></td>
        <td><%= tokimon.eating_habit %></td>
        <td><%= tokimon.weapon %></td>
        <td><%= tokimon.strength %></td>
        <td><a href="/trainers/<%= tokimon.trainer_id %>"><%= Trainer.find(tokimon.trainer_id).name %></a></td>
        <td><%= link_to 'Profile', tokimon %></td>
        <td><%= link_to 'Edit', edit_tokimon_path(tokimon) %></td>
        <td><%= link_to 'Delete Tokimon', tokimon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="white-button-wrapper">
  <span class= "white-button">
  <%= link_to 'Create Tokimon', new_tokimon_path %>
  </span>
</div>  