<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trainer.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @trainer.gender %>
</p>

<p>
  <strong>Training ground:</strong>
  <%= @trainer.training_ground %>
</p>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Ice</th>
      <th>Total</th>
      <th>Eating habit</th>
      <th>Weapon</th>
      <th>Strength</th>
    </tr>
  </thead>

  <tbody>
    <% @trainer_tokimons.each do |tokimon| %>
      <tr>
        <td><%= tokimon.name %></td>
        <td><%= tokimon.height %></td>
        <td><%= tokimon.weight %></td>
        <td><%= tokimon.fly %></td>
        <td><%= tokimon.fight %></td>
        <td><%= tokimon.fire %></td>
        <td><%= tokimon.water %></td>
        <td><%= tokimon.electric %></td>
        <td><%= tokimon.ice %></td>
        <td><%= tokimon.total %></td>
        <td><%= tokimon.eating_habit %></td>
        <td><%= tokimon.weapon %></td>
        <td><%= tokimon.strength %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'List of trainers', trainers_path %>
