<!DOCTYPE html>
<html>
<head>
  <title>Tokimon App</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/tokimons">List of Tokimon</a></li>
            <li><a href="/trainers">List of Trainers</a></li>
            <li><a href="/guide">How to Use</a></li>
          </ul>
      </li>
    </ul>

  </div>
</nav>

<%= yield %>

</body>
</html>
